.formulaire {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 500px;
  padding: 20px;
  background-color: #f9f9f9;
  
}
.title-product{
  margin: 25px;
  text-align: center;
  color: #df0e76;
}
.formulaire label {
  margin-bottom: 8px;
  font-weight: bold;
}

.formulaire input[type="text"],
.formulaire input[type="number"],
.formulaire input[type="file"] {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.formulaire input[type="file"] {
  padding: 4px;
}

.formulaire button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.formulaire button:hover {
  background-color: #0056b3;
}
.date-input{
  margin-left: 10px;
}