.sidebar{
  color:#fff;
  transition: width 0.02s;
}
.menu-bar{
  height: 88vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
  transition: background-color 0.02s;
}

.toggle-theme-btn{
  position: relative;
  bottom: 20px;
  left: -14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1 rem;
  margin: 10px;
}
.toggle{
  margin-left: 15px;
}

@media (max-width: 768px) {
  .toggle{
    display: none;
  }
}


